name: Auto Update News

on:
  schedule:
    # Запуск каждый день в 00:00 по UTC (в 3 ночи по Москве)
    - cron: '0 0 * * *'
  workflow_dispatch: # Позволяет запускать парсер вручную кнопкой на GitHub

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run Parser
      run: python parser.py

    - name: Commit and Push changes
      run: |
        git config --global user.name "GitHub Action"
        git config --global user.email "action@github.com"
        git add data.json
        git commit -m "Auto-update: added new entries" || echo "No changes to commit"
        git push
